<main>
  <h1>Guide to creating custom form control using
    <a href="https://angular.io/api/forms/ControlValueAccessor" target="_blank">controlValueAccessor</a>
  </h1>
</main>
<div class="body">
  <p>
    this project contains an overview/guide to create and use custom form controls
    by using some apis that angular provides us in the Forms Module.
    <br>
    these custome controls can be used to create reusable forms and also help you understand how to create your own
    <b>For example: star rating, quantity(increase decrease) and many more</b>
  </p>
  <br>
  <p>
    Angular internally use control value accessor for some controls such as
  </p>

  <div class="list-wrapper">
    <mat-list>
      <mat-list-item>
        <a target="_blank" href="https://angular.io/api/forms/CheckboxControlValueAccessor">
          CheckboxControlValueAccessor
        </a>
      </mat-list-item>
      <mat-list-item>
        <a target="_blank" href="https://angular.io/api/forms/DefaultValueAccessor">
          DefaultValueAccessor
        </a>
      </mat-list-item>
      <mat-list-item>
        <a target="_blank" href="https://angular.io/api/forms/NumberValueAccessor">
          NumberValueAccessor
        </a>
      </mat-list-item>
      <mat-list-item>
        <a target="_blank" href="https://angular.io/api/forms/RadioControlValueAccessor">
          RadioControlValueAccessor
        </a>
      </mat-list-item>
      <mat-list-item>
        <a target="_blank" href="https://angular.io/api/forms/RangeValueAccessor">
          RangeValueAccessor
        </a>
      </mat-list-item>
      <mat-list-item>
        <a target="_blank" href="https://angular.io/api/forms/SelectControlValueAccessor">
          SelectControlValueAccessor
        </a>
      </mat-list-item>
      <mat-list-item>
        <a target="_blank" href="https://angular.io/api/forms/SelectMultipleControlValueAccessor">
          SelectMultipleControlValueAccessor
        </a>
      </mat-list-item>
    </mat-list>
    <br>
    <br>
    <br>
  </div>


</div>
